* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, system-ui, sans-serif;
  background-color: #0f172a;
  color: #ffffff;
}


.app-layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 260px;
  background-color: #1b1b1b;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
  color: #aaa;
}

.sidebar li:hover {
  color: white;
}

.main-content {
  flex: 1;
  padding: 30px;
}